body{
font-family:Arial;
background:#f4f4f4;
margin:0;
text-align:center;
}

header{
background:#800000;
color:white;
padding:15px;
}

.panel{
margin:20px;
}

input{
padding:10px;
font-size:16px;
width:300px;
}

button{
padding:10px 15px;
margin:5px;
font-size:16px;
}

#timer{
font-size:48px;
margin:20px;
color:#c62828;
}

#cameraBox{
position:fixed;
top:10px;
right:10px;
background:white;
padding:5px;
border-radius:8px;
}

video{
width:200px;
border-radius:6px;
}

#studentGrid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
padding:20px;
}

.studentCard{
background:white;
padding:10px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.3);
}